* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 500px;
  margin: 200px auto;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.results-container {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: hsl(221, 100%, 96%);
  width: 50%;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.results-container h3:first-child {
  font-size: 1rem;
  color: hsla(221, 100%, 96%, 0.7);
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}

h4 {
  font-size: 0.7rem;
  color: hsla(0, 0%, 100%, 0.5);
}

.results-container h3:last-child {
  font-size: 2rem;
}

.result-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(241, 81%, 54%),
    hsl(252, 100%, 60%)
  );
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1.5rem;
}

p {
  font-size: 0.8rem;
  font-weight: normal;
  padding-top: 1rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  color: hsla(221, 100%, 96%, 0.7);
}

.summary-container {
  padding: 1.5rem;
  width: 100%;
}

.summary-container h3 {
  font-size: 1rem;
  color: hsl(224, 30%, 27%);
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > span > i {
  padding-right: 0.5rem;
}

li:first-child {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
  border-radius: 0.2rem;
}
li:nth-child(2) {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
  border-radius: 0.2rem;
}
li:nth-child(3) {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
  border-radius: 0.2rem;
}
li:nth-child(4) {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
  border-radius: 0.2rem;
}

li > span:first-child {
}

li > span:last-child {
  color: hsl(224, 30%, 27%);
}

li > span:last-child > span {
  color: hsla(224, 30%, 27%, 0.5);
}

button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(221, 100%, 96%);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 100%;
  border-radius: 1rem;
  border: none;
}

button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 60%),
    hsl(241, 81%, 54%)
  );
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .results-container {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
  }
}

.attribution {
  text-align: center;
  font-size: 0.5rem;
}
